In [226]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [227]:
#load to dataframe(pandas)
sonar_data = pd.read_csv("/Users/kamakshiojha/Documents/Machine_Learning_projects/SONAR-Rock vs Mine Prediction/sonar_dataset.csv")

In [228]:
sonar_data.head()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
0,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
1,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
2,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
3,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R
4,0.0286,0.0453,0.0277,0.0174,0.0384,0.0990,0.1201,0.1833,0.2105,0.3039,...,0.0045,0.0014,0.0038,0.0013,0.0089,0.0057,0.0027,0.0051,0.0062,R

In [229]:
sonar_data.tail()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
202,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157,M
203,0.0323,0.0101,0.0298,0.0564,0.0760,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067,M
204,0.0522,0.0437,0.0180,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0160,0.0029,0.0051,0.0062,0.0089,0.0140,0.0138,0.0077,0.0031,M
205,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
206,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115,M

In [230]:
sonar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0.0200  207 non-null    float64
 1   0.0371  207 non-null    float64
 2   0.0428  207 non-null    float64
 3   0.0207  207 non-null    float64
 4   0.0954  207 non-null    float64
 5   0.0986  207 non-null    float64
 6   0.1539  207 non-null    float64
 7   0.1601  207 non-null    float64
 8   0.3109  207 non-null    float64
 9   0.2111  207 non-null    float64
 10  0.1609  207 non-null    float64
 11  0.1582  207 non-null    float64
 12  0.2238  207 non-null    float64
 13  0.0645  207 non-null    float64
 14  0.0660  207 non-null    float64
 15  0.2273  207 non-null    float64
 16  0.3100  207 non-null    float64
 17  0.2999  207 non-null    float64
 18  0.5078  207 non-null    float64
 19  0.4797  207 non-null    float64
 20  0.5783  207 non-null    float64
 21  0.5071  207 non-null    float64
 22  0.4328  207 non-null    float64
 23  0.5550  207 non-null    float64
 24  0.6711  207 non-null    float64
 25  0.6415  207 non-null    float64
 26  0.7104  207 non-null    float64
 27  0.8080  207 non-null    float64
 28  0.6791  207 non-null    float64
 29  0.3857  207 non-null    float64
 30  0.1307  207 non-null    float64
 31  0.2604  207 non-null    float64
 32  0.5121  207 non-null    float64
 33  0.7547  207 non-null    float64
 34  0.8537  207 non-null    float64
 35  0.8507  207 non-null    float64
 36  0.6692  207 non-null    float64
 37  0.6097  207 non-null    float64
 38  0.4943  207 non-null    float64
 39  0.2744  207 non-null    float64
 40  0.0510  207 non-null    float64
 41  0.2834  207 non-null    float64
 42  0.2825  207 non-null    float64
 43  0.4256  207 non-null    float64
 44  0.2641  207 non-null    float64
 45  0.1386  207 non-null    float64
 46  0.1051  207 non-null    float64
 47  0.1343  207 non-null    float64
 48  0.0383  207 non-null    float64
 49  0.0324  207 non-null    float64
 50  0.0232  207 non-null    float64
 51  0.0027  207 non-null    float64
 52  0.0065  207 non-null    float64
 53  0.0159  207 non-null    float64
 54  0.0072  207 non-null    float64
 55  0.0167  207 non-null    float64
 56  0.0180  207 non-null    float64
 57  0.0084  207 non-null    float64
 58  0.0090  207 non-null    float64
 59  0.0032  207 non-null    float64
 60  R       207 non-null    object
dtypes: float64(60), object(1)
memory usage: 98.8+ KB

In [231]:
sonar_data.isnull().sum()

0.0200    0
0.0371    0
0.0428    0
0.0207    0
0.0954    0
         ..
0.0180    0
0.0084    0
0.0090    0
0.0032    0
R         0
Length: 61, dtype: int64

In [232]:
sonar_data.shape

(207, 61)

In [233]:
sonar_data.describe() #describe statistical measure of data

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
count,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,...,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000
mean,0.029208,0.038443,0.043837,0.054053,0.075105,0.104599,0.121591,0.134677,0.177361,0.208245,...,0.016034,0.013472,0.010729,0.010917,0.009300,0.008181,0.007771,0.007947,0.007936,0.006523
std,0.023038,0.033040,0.038521,0.046583,0.055669,0.059247,0.061897,0.085340,0.118311,0.134741,...,0.012027,0.009628,0.007071,0.007310,0.007103,0.005719,0.005756,0.006485,0.006196,0.005038
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013300,0.016400,0.018900,0.024450,0.037700,0.066950,0.080600,0.080350,0.096750,0.111150,...,0.008350,0.007350,0.005050,0.005350,0.004100,0.004400,0.003700,0.003600,0.003650,0.003100
50%,0.022800,0.030800,0.034200,0.044100,0.062000,0.092100,0.105600,0.111900,0.152200,0.181000,...,0.013800,0.011500,0.009600,0.009300,0.007500,0.006800,0.005900,0.005800,0.006300,0.005300
75%,0.035800,0.048100,0.058200,0.065700,0.101050,0.134150,0.153050,0.169800,0.231500,0.269000,...,0.020700,0.016750,0.014900,0.014450,0.012100,0.010350,0.010350,0.010400,0.010350,0.008550
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [234]:
print(sonar_data.columns)

Index(['0.0200', '0.0371', '0.0428', '0.0207', '0.0954', '0.0986', '0.1539',
       '0.1601', '0.3109', '0.2111', '0.1609', '0.1582', '0.2238', '0.0645',
       '0.0660', '0.2273', '0.3100', '0.2999', '0.5078', '0.4797', '0.5783',
       '0.5071', '0.4328', '0.5550', '0.6711', '0.6415', '0.7104', '0.8080',
       '0.6791', '0.3857', '0.1307', '0.2604', '0.5121', '0.7547', '0.8537',
       '0.8507', '0.6692', '0.6097', '0.4943', '0.2744', '0.0510', '0.2834',
       '0.2825', '0.4256', '0.2641', '0.1386', '0.1051', '0.1343', '0.0383',
       '0.0324', '0.0232', '0.0027', '0.0065', '0.0159', '0.0072', '0.0167',
       '0.0180', '0.0084', '0.0090', '0.0032', 'R'],
      dtype='object')

In [235]:
sonar_data['R'].value_counts()

R
M    111
R     96
Name: count, dtype: int64

In [236]:
sonar_data.rename(columns = {'R':'class'}, inplace = True)

In [237]:
sonar_data['class'].value_counts()

class
M    111
R     96
Name: count, dtype: int64

In [238]:
sonar_data.groupby(sonar_data.columns[60]).mean()

,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032
class,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022524,0.030232,0.035879,0.041664,0.061680,0.096199,0.113767,0.117153,0.135584,0.158785,...,0.012198,0.010533,0.009673,0.009451,0.008581,0.007333,0.007708,0.006659,0.007058,0.006053

In [239]:
# Get the number of columns excluding the last one
num_columns = len(sonar_data.columns) - 1

# Set new column labels from 1 to n
sonar_data.columns = list(range(1, num_columns + 1)) + ['class']

# Display the updated columns
print(sonar_data.columns)

Index([      1,       2,       3,       4,       5,       6,       7,       8,
             9,      10,      11,      12,      13,      14,      15,      16,
            17,      18,      19,      20,      21,      22,      23,      24,
            25,      26,      27,      28,      29,      30,      31,      32,
            33,      34,      35,      36,      37,      38,      39,      40,
            41,      42,      43,      44,      45,      46,      47,      48,
            49,      50,      51,      52,      53,      54,      55,      56,
            57,      58,      59,      60, 'class'],
      dtype='object')

In [240]:
X = sonar_data.drop(columns=60, axis=1)
Y = sonar_data['class']

In [241]:
print(X)

          1       2       3       4       5       6       7       8       9  \
0    0.0453  0.0523  0.0843  0.0689  0.1183  0.2583  0.2156  0.3481  0.3337
1    0.0262  0.0582  0.1099  0.1083  0.0974  0.2280  0.2431  0.3771  0.5598
2    0.0100  0.0171  0.0623  0.0205  0.0205  0.0368  0.1098  0.1276  0.0598
3    0.0762  0.0666  0.0481  0.0394  0.0590  0.0649  0.1209  0.2467  0.3564
4    0.0286  0.0453  0.0277  0.0174  0.0384  0.0990  0.1201  0.1833  0.2105
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
202  0.0187  0.0346  0.0168  0.0177  0.0393  0.1630  0.2028  0.1694  0.2328
203  0.0323  0.0101  0.0298  0.0564  0.0760  0.0958  0.0990  0.1018  0.1030
204  0.0522  0.0437  0.0180  0.0292  0.0351  0.1171  0.1257  0.1178  0.1258
205  0.0303  0.0353  0.0490  0.0608  0.0167  0.1354  0.1465  0.1123  0.1945
206  0.0260  0.0363  0.0136  0.0272  0.0214  0.0338  0.0655  0.1400  0.1843

         10  ...      51      52      53      54      55      56      57  \
0    0.2872  ...  0.0125  0.0084  0.0089  0.0048  0.0094  0.0191  0.0140
1    0.6194  ...  0.0033  0.0232  0.0166  0.0095  0.0180  0.0244  0.0316
2    0.1264  ...  0.0241  0.0121  0.0036  0.0150  0.0085  0.0073  0.0050
3    0.4459  ...  0.0156  0.0031  0.0054  0.0105  0.0110  0.0015  0.0072
4    0.3039  ...  0.0104  0.0045  0.0014  0.0038  0.0013  0.0089  0.0057
..      ...  ...     ...     ...     ...     ...     ...     ...     ...
202  0.2684  ...  0.0203  0.0116  0.0098  0.0199  0.0033  0.0101  0.0065
203  0.2154  ...  0.0051  0.0061  0.0093  0.0135  0.0063  0.0063  0.0034
204  0.2529  ...  0.0155  0.0160  0.0029  0.0051  0.0062  0.0089  0.0140
205  0.2354  ...  0.0042  0.0086  0.0046  0.0126  0.0036  0.0035  0.0034
206  0.2354  ...  0.0181  0.0146  0.0129  0.0047  0.0039  0.0061  0.0040

         58      59  class
0    0.0049  0.0052      R
1    0.0164  0.0095      R
2    0.0044  0.0040      R
3    0.0048  0.0107      R
4    0.0027  0.0051      R
..      ...     ...    ...
202  0.0115  0.0193      M
203  0.0032  0.0062      M
204  0.0138  0.0077      M
205  0.0079  0.0036      M
206  0.0036  0.0061      M

[207 rows x 60 columns]

In [242]:
print(Y)

0      R
1      R
2      R
3      R
4      R
      ..
202    M
203    M
204    M
205    M
206    M
Name: class, Length: 207, dtype: object

In [243]:
# Convert Y to a DataFrame
Y = pd.DataFrame(Y)

# Now, check the columns
print(Y.columns)

Index(['class'], dtype='object')

In [244]:
print(Y['class'].dtype)
Y['class'] = Y['class'].astype(str)

object

In [245]:
Y['class'] = Y['class'].replace({'M': 0, 'R': 1})
print(Y['class'])

0      1
1      1
2      1
3      1
4      1
      ..
202    0
203    0
204    0
205    0
206    0
Name: class, Length: 207, dtype: int64

In [246]:
X_train,X_test ,Y_train ,Y_test = train_test_split(X,Y,test_size = 0.1, stratify =Y, random_state = 2)

In [247]:
print(X.shape , X_train.shape,X_test.shape)

(207, 60) (186, 60) (21, 60)

In [248]:
model = LogisticRegression()

In [249]:
# Reset the index and drop the old index
Y.reset_index(drop=True, inplace=True)

In [250]:
print(Y.head())

   class
0      1
1      1
2      1
3      1
4      1

In [251]:
# Check the type of Y
print(type(Y))

# If Y is a Series, convert it to a DataFrame
if isinstance(Y, pd.Series):
    Y = pd.DataFrame(Y)

# Now, check the columns
print(Y.columns)

<class 'pandas.core.frame.DataFrame'>
Index(['class'], dtype='object')

In [252]:
X_train.columns = X_train.columns.astype(str)

In [253]:
X_train

,1,2,3,4,5,6,7,8,9,10,...,51,52,53,54,55,56,57,58,59,class
112,0.0283,0.0599,0.0656,0.0229,0.0839,0.1673,0.1154,0.1098,0.1370,0.1767,...,0.0109,0.0147,0.0170,0.0158,0.0046,0.0073,0.0054,0.0033,0.0045,M
52,0.0293,0.0378,0.0257,0.0062,0.0130,0.0612,0.0895,0.1107,0.0973,0.0751,...,0.0076,0.0065,0.0072,0.0108,0.0051,0.0102,0.0041,0.0055,0.0050,R
64,0.0176,0.0172,0.0501,0.0285,0.0262,0.0351,0.0362,0.0535,0.0258,0.0474,...,0.0088,0.0042,0.0175,0.0171,0.0079,0.0050,0.0112,0.0179,0.0294,R
170,0.0179,0.0136,0.0408,0.0633,0.0596,0.0808,0.2090,0.3465,0.5276,0.5965,...,0.0086,0.0123,0.0060,0.0187,0.0111,0.0126,0.0081,0.0155,0.0160,M
138,0.0164,0.0627,0.0738,0.0608,0.0233,0.1048,0.1338,0.0644,0.1522,0.0780,...,0.0244,0.0258,0.0143,0.0226,0.0187,0.0185,0.0110,0.0094,0.0078,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0.0365,0.1632,0.1636,0.1421,0.1130,0.1306,0.2112,0.2268,0.2992,0.3735,...,0.0223,0.0110,0.0071,0.0205,0.0164,0.0063,0.0078,0.0094,0.0110,R
131,0.0968,0.0821,0.0629,0.0608,0.0617,0.1207,0.0944,0.4223,0.5744,0.5025,...,0.0206,0.0073,0.0081,0.0303,0.0190,0.0212,0.0126,0.0201,0.0210,M
163,0.0163,0.0198,0.0202,0.0386,0.0752,0.1444,0.1487,0.1484,0.2442,0.2822,...,0.0027,0.0077,0.0026,0.0031,0.0083,0.0020,0.0084,0.0108,0.0083,M
19,0.0473,0.0509,0.0819,0.1252,0.1783,0.3070,0.3008,0.2362,0.3830,0.3759,...,0.0107,0.0193,0.0118,0.0064,0.0042,0.0054,0.0049,0.0082,0.0028,R
37,0.0123,0.0022,0.0196,0.0206,0.0180,0.0492,0.0033,0.0398,0.0791,0.0475,...,0.0149,0.0125,0.0134,0.0026,0.0038,0.0018,0.0113,0.0058,0.0047,R

In [254]:
X_train['class'] = X_train['class'].replace({'M': 0, 'R': 1})

In [255]:
# Drop non-numeric columns
X_train = X_train.select_dtypes(include=[np.number])

In [256]:
X_train = X_train.astype(int)

In [259]:
from sklearn.utils import column_or_1d

# Ensure Y_train is a 1D array
Y_train = column_or_1d(Y_train, warn=True)

# Now, fit your model
model.fit(X_train, Y_train)
Y_train = Y_train.ravel()
model.fit(X_train,Y_train)

/var/folders/38/shs32l0x1f197bjc152j6x3w0000gn/T/ipykernel_46825/3016351191.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  Y_train = column_or_1d(Y_train, warn=True)

LogisticRegression()

In [260]:
X_train_prec = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prec,Y_train)

In [261]:
print(training_data_accuracy)

1.0

In [262]:
print(X_test)

          1       2       3       4       5       6       7       8       9  \
73   0.0109  0.0093  0.0121  0.0378  0.0679  0.0863  0.1004  0.0664  0.0941
178  0.0394  0.0420  0.0446  0.0551  0.0597  0.1416  0.0956  0.0802  0.1618
171  0.0180  0.0444  0.0476  0.0698  0.1615  0.0887  0.0596  0.1071  0.3175
191  0.0056  0.0267  0.0221  0.0561  0.0936  0.1146  0.0706  0.0996  0.1673
75   0.0239  0.0189  0.0466  0.0440  0.0657  0.0742  0.1380  0.1099  0.1384
49   0.0353  0.0713  0.0326  0.0272  0.0370  0.0792  0.1083  0.0687  0.0298
103  0.0307  0.0523  0.0653  0.0521  0.0611  0.0577  0.0665  0.0664  0.1460
136  0.0430  0.0902  0.0833  0.0813  0.0165  0.0277  0.0569  0.2057  0.3887
58   0.0125  0.0152  0.0218  0.0175  0.0362  0.0696  0.0873  0.0616  0.1252
40   0.0093  0.0185  0.0056  0.0064  0.0260  0.0458  0.0470  0.0057  0.0425
118  0.0261  0.0266  0.0223  0.0749  0.1364  0.1513  0.1316  0.1654  0.1864
139  0.0412  0.1135  0.0518  0.0232  0.0646  0.1124  0.1787  0.2407  0.2682
36   0.0333  0.0221  0.0270  0.0481  0.0679  0.0981  0.0843  0.1172  0.0759
50   0.0131  0.0068  0.0308  0.0311  0.0085  0.0767  0.0771  0.0640  0.0726
130  0.1150  0.1163  0.0866  0.0358  0.0232  0.1267  0.2417  0.2661  0.4346
63   0.0071  0.0103  0.0135  0.0494  0.0253  0.0806  0.0701  0.0738  0.0117
145  0.1021  0.0830  0.0577  0.0627  0.0635  0.1328  0.0988  0.1787  0.1199
7    0.0223  0.0375  0.0484  0.0475  0.0647  0.0591  0.0753  0.0098  0.0684
92   0.0459  0.0437  0.0347  0.0456  0.0067  0.0890  0.1798  0.1741  0.1598
168  0.0130  0.0120  0.0436  0.0624  0.0428  0.0349  0.0384  0.0446  0.1318
111  0.0454  0.0472  0.0697  0.1021  0.1397  0.1493  0.1487  0.0771  0.1171

         10  ...      51      52      53      54      55      56      57  \
73   0.1036  ...  0.0124  0.0077  0.0023  0.0117  0.0053  0.0077  0.0076
178  0.2558  ...  0.0118  0.0146  0.0040  0.0114  0.0032  0.0062  0.0101
171  0.2918  ...  0.0122  0.0122  0.0114  0.0098  0.0027  0.0025  0.0026
191  0.1859  ...  0.0185  0.0072  0.0055  0.0074  0.0068  0.0084  0.0037
75   0.1376  ...  0.0155  0.0091  0.0151  0.0080  0.0018  0.0078  0.0045
49   0.0880  ...  0.0098  0.0163  0.0242  0.0043  0.0202  0.0108  0.0037
103  0.2792  ...  0.0063  0.0321  0.0189  0.0137  0.0277  0.0152  0.0052
136  0.7106  ...  0.0208  0.0176  0.0197  0.0210  0.0141  0.0049  0.0027
58   0.1302  ...  0.0019  0.0041  0.0074  0.0030  0.0050  0.0048  0.0017
40   0.0640  ...  0.0022  0.0069  0.0064  0.0129  0.0114  0.0054  0.0089
118  0.2013  ...  0.0135  0.0222  0.0175  0.0127  0.0022  0.0124  0.0054
139  0.2058  ...  0.0798  0.0376  0.0143  0.0272  0.0127  0.0166  0.0095
36   0.0920  ...  0.0036  0.0022  0.0032  0.0060  0.0054  0.0063  0.0143
50   0.0901  ...  0.0109  0.0062  0.0028  0.0040  0.0075  0.0039  0.0053
130  0.5378  ...  0.0228  0.0099  0.0065  0.0085  0.0166  0.0110  0.0190
63   0.0898  ...  0.0252  0.0043  0.0048  0.0076  0.0124  0.0105  0.0054
145  0.1369  ...  0.1004  0.0709  0.0317  0.0309  0.0252  0.0087  0.0177
7    0.1487  ...  0.0061  0.0145  0.0128  0.0145  0.0058  0.0049  0.0065
92   0.1408  ...  0.0121  0.0067  0.0032  0.0109  0.0164  0.0151  0.0070
168  0.1375  ...  0.0024  0.0084  0.0100  0.0018  0.0035  0.0058  0.0011
111  0.1675  ...  0.0137  0.0120  0.0042  0.0238  0.0129  0.0084  0.0218

         58      59  class
73   0.0056  0.0055      R
178  0.0068  0.0053      M
171  0.0050  0.0073      M
191  0.0024  0.0034      M
75   0.0026  0.0036      R
49   0.0096  0.0093      R
103  0.0121  0.0124      M
136  0.0162  0.0059      M
58   0.0041  0.0086      R
40   0.0050  0.0058      R
118  0.0021  0.0028      M
139  0.0225  0.0098      M
36   0.0132  0.0051      R
50   0.0013  0.0052      R
130  0.0141  0.0068      M
63   0.0032  0.0073      R
145  0.0214  0.0227      M
7    0.0093  0.0059      R
92   0.0085  0.0117      R
168  0.0009  0.0033      M
111  0.0321  0.0154      M

[21 rows x 60 columns]

In [263]:
X_test['class'] = X_test['class'].replace({'M': 0, 'R': 1})

In [264]:
Y_test

     class
73       1
178      0
171      0
191      0
75       1
49       1
103      0
136      0
58       1
40       1
118      0
139      0
36       1
50       1
130      0
63       1
145      0
7        1
92       1
168      0
111      0

In [265]:

Y_test['class'] = Y_test['class'].replace({'M': 0, 'R': 1})
Y_test

     class
73       1
178      0
171      0
191      0
75       1
49       1
103      0
136      0
58       1
40       1
118      0
139      0
36       1
50       1
130      0
63       1
145      0
7        1
92       1
168      0
111      0

In [266]:
X_test.columns = X_test.columns.astype(str)
X_test_prec = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prec, Y_test)

In [267]:
X_test_prec = model.predict(X_test.values)
test_data_accuracy = accuracy_score(X_test_prec, Y_test)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [268]:
print(test_data_accuracy)

1.0

In [276]:
input_data = (0.0323,0.0101,0.0298,0.0564,0.076,0.0958,0.099,0.1018,0.103,0.2154,0.3085,0.3425,0.299,0.1402,0.1235,0.1534,0.1901,0.2429,0.212,0.2395,0.3272,0.5949,0.8302,0.9045,0.9888,0.9912,0.9448,1,0.9092,0.7412,0.7691,0.7117,0.5304,0.2131,0.0928,0.1297,0.1159,0.1226,0.1768,0.0345,0.1562,0.0824,0.1149,0.1694,0.0954,0.008,0.079,0.1255,0.0647,0.0179,0.0051,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067)

input_data_np = np.asarray(input_data)

input_reshape = input_data_np.reshape(1,-1)

prediction = model.predict(input_reshape)
print(prediction)
if prediction == 1:
    print("Rock")
else:
    print("Mine")

[0]
Mine

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [277]:
input_data = (0.0298,0.0615,0.065,0.0921,0.1615,0.2294,0.2176,0.2033,0.1459,0.0852,0.2476,0.3645,0.2777,0.2826,0.3237,0.4335,0.5638,0.4555,0.4348,0.6433,0.3932,0.1989,0.354,0.9165,0.9371,0.462,0.2771,0.6613,0.8028,0.42,0.5192,0.6962,0.5792,0.8889,0.7863,0.7133,0.7615,0.4401,0.3009,0.3163,0.2809,0.2898,0.0526,0.1867,0.1553,0.1633,0.1252,0.0748,0.0452,0.0064,0.0154,0.0031,0.0153,0.0071,0.0212,0.0076,0.0152,0.0049,0.02,0.0073)

input_data_np = np.asarray(input_data)

input_reshape = input_data_np.reshape(1,-1)

prediction = model.predict(input_reshape)
print(prediction)
if (prediction == 1):
    print("Rock")
else:
    print("Mine")

[0]
Mine

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(